*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url('../img/fundo.jpg');
}

.container{
    width: 960px;
    background-color: white;
    margin: 0 auto;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b22d00;
    padding: 10px 30px;
}

.navegacao{
    background-color: #d9a300;
    padding: 10px 30px;
}

.menu-principal{
    display: flex;
}

.menu-principal li{
    margin-right: 10px;
}

.menu-principal a{
    text-decoration: none;
    font-family: 12px;
    color: rgb(36, 36, 36);
}